{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Bo Morin">
	<title>Gift X</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	{% block extra_head %}{% endblock %}
</head>

<body>
	{% block header_nav %}
		<nav class="navbar navbar-expand-sm bg-light navbar-light">
			<div class="container">
				<a class="navbar-brand" href="{% url 'dashboard' %}">
					<img src="{% static '' %}" width="250px"/>
				</a>
				<ul class="navbar-nav">
					{% if request.user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}">Log Out</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">Log In</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
	{% endblock %}
	<div class="container">
		<div id="breadcrumbs">
			{% for title, link in breadcrumbs %}
				{% if link %}
					<a href="{{link}}">{{title}}</a>
				{% else %}
					{{title}}
				{% endif %}
				{% if not forloop.last %} > {% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="container">
		<div id="main-content">
		{% block messages %}
			{% if messages %}
				<div class="row">
					<div class="col">
					    {% for message in messages %}
					    <div class="alert">
						 	<strong>{{message.level_tag|title}}: </strong> {{message|safe}}
						</div>
					    {% endfor %}
					</div>
				</div>
				{% endif %}
			{% endblock %}
			{% block page_content %}{% endblock %}
		</div>
	</div>
	{% block extra_js %}{% endblock %}
</body>
