{% extends 'giftexchange/base.html' %}

{% block page_content %}
	<h2>{{giftexchange.title}}</h2>
	<div class="row">
		<div class="col-6">
			<div class="card">
				<div class="card-header">
			    	Gift Exchange Details
			  </div>
			  <div class="card-body">
			  		<table class="table">
			  			<tr>
			  				<td>Title: </td>
			  				<td>{{giftexchange.title}}</td>
			  			</tr>
			  			<tr>
			  				<td>Description: </td>
			  				<td>{{giftexchange.description}}</td>
			  			</tr>
			  			<tr>
			  				<td>Spending Limit: </td>
			  				<td>${{giftexchange.spending_limit}}</td>
			  			</tr>
			  			<tr>
			  				<td>Date: </td>
			  				<td>{{giftexchange.date}}</td>
			  			</tr>
			  			<tr>
			  				<td>Location: </td>
			  				<td>{{giftexchange.location}}</td>
			  			</tr>
			  			<tr>
			  				<td>Shipping gifts allowed: </td>
			  				<td>{{giftexchange.ship_gifts_allowed}}</td>
			  			</tr>
			  		</table>
			  </div>
			  <div class="card-footer">
			  	{% if not giftexchange.assignments_locked %}
					<a class="card-link" href="{% url 'giftexchange_manage_edit_details' giftexchange_id=giftexchange.pk %}"><button class="btn btn-primary">Edit</button></a>
					<a class="card-link" href="{% url 'giftexchange_manage_participants' giftexchange_id=giftexchange.pk %}"><button class="btn btn-primary">Manage Participants</button></a>
				{% else %}
					Assignments are locked - details no longer editable.
				{% endif %}
				<a  class="card-link" href="{% url 'giftexchange_manage_assignments' giftexchange_id=giftexchange.pk %}" ><button class="btn btn-primary">Manage Assignments</button></a>
			  </div>
			</div>
		</div>
	</div>


	
{% endblock %}
