{% extends 'giftexchange/base.html' %}

{% block page_content %}
	<h2>{{giftexchange.title}}{% if appuser in giftexchange.admin_appuser.all %}
	<p>{{giftexchange.description}}</p>
	
	{% endif %}</h2>

<div class="row">
	<div class="col-6">
	<div class="card">
		<div class="card-header">
	    	My Details
	  </div>
	  <div class="card-body">
	  		<table class="table">
	  			<tr>
	  				<td>Likes: </td>
	  				<td>{{participant_details.likes}}</td>
	  			</tr>
	  			<tr>
	  				<td>Dislikes: </td>
	  				<td>{{participant_details.dislikes}}</td>
	  			</tr>
	  			<tr>
	  				<td>Allergies & sensitivities: </td>
	  				<td>{{participant_details.allergies_sensitivities}}</td>
	  			</tr>
	  		</table>
	  </div>
	  <div class="card-footer">
	  	{% if not giftexchange.assignments_locked %}
			<a href="{% url 'giftexchange_detail_edit' giftexchange_id=giftexchange.pk %}"><button class="btn btn-primary">Edit</button></a>
		{% else %}
			Assignments are locked - details no longer editable.
		{% endif %}
	  </div>
	</div>
	</div>

	{% if giftexchange.assignments_locked %}
		<div class="col-6">
			<div class="card">
				<div class="card-header">
		    		My Assigment: {{assignment_details.appuser.djangouser.first_name}} {{assignment_details.appuser.djangouser.last_name}}
		  		</div>
			  <div class="card-body">
			  		<table class="table">
			  			<tr>
			  				<td>Likes: </td>
			  				<td>{{assignment_details.likes}}</td>
			  			</tr>
			  			<tr>
			  				<td>Dislikes: </td>
			  				<td>{{assignment_details.dislikes}}</td>
			  			</tr>
			  			<tr>
			  				<td>Allergies & sensitivities: </td>
			  				<td>{{assignment_details.allergies_sensitivities}}</td>
			  			</tr>
			  		</table>
			  </div>
			</div>
		</div>
		</div>
	{% endif %}
</div>
{% endblock %}