{% extends 'giftexchange/base.html' %}

{% block page_content %}
{% include 'giftexchange/includes/assignment_warning.html' with giftexchange=giftexchange %}
<div class="row">
	<div class="col">
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title">Upload participants</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Instructions</h6>
			    <p class="card-text">
			    	Provide a CSV file formatted like:
			    	<pre><code>
first_name,last_name,email,shipping_address,likes,dislikes,allergies
Amina,Hyde,aminda@example.com,"123 fake street Oklahoma City, OK 12345","cats, stickers",,nuts
Kacy,Ochoa,kochoa@example.com,"123 imagination way Orlando, FL 32826",,"Socks, ties, etc.",
Mattie,Marsh,marshm@example.com,"123 fantasy ave Washington DC 10011", "politics, Veep, Game of Thrones", "shenanigans","dairy"
			    	</code></pre>
			    </p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-3 col">
		<form class="form" method="POST" action="{{action}}" enctype="multipart/form-data">
			{% csrf_token %}
			<table class="table">
				{{form.as_table}}
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-primary" value="submit" /></td>
			</table>
		</form>
	</div>
</div>
{% endblock %}