Hello, {{giver.first_name}}!<br /><br />
You have been given an assignment for the gift exchange "{{giftexchange.title}}"!<br /><br />
Please get a gift for <b>{{assignment.first_name}} {{assignment.last_name}}</b> by {{giftexchange.date}} costing no more than ${{giftexchange.spending_limit}}.
<br /><br />
Gift exchange details:<br />
Location: {{giftexchange.location}}<br />
Description: {{giftexchange.description}}
<br /><br />
{{assignment.first_name}} likes:<br />
{% if assignment.likes %}
	{{assignment.likes}}
{% else %}
	Nothing, apparently. Good luck!
{% endif %}
<br /><br />
{{assignment.first_name}} dislikes:<br />
{% if assignment.dislikes %}
	{{assignment.dislikes}}
{% else %}
	Nothing, apparently. Good luck!
{% endif %}
<br /><br />
{% if assignment.allergies_sensitivities %}
	{{assignment.first_name}} reported the following allergies / sensitivities:<br />
	{{assignment.allergies_sensitivities}}
{% else %}
	{{assignment.first_name}} did not report any allergies / sensitivities
{% endif %}

{% if assignment.additional_info %}
<br /><br />
{{assignment.first_name}} would also like you to know:<br />
{{assignment.additional_info}}
{% endif %}

{% if giftexchange.ship_gifts_allowed and assignment.get_shipping_address %}
	<br /><br />
	You can ship {{assignment.first_name}}'s gift to:
	<br />
	{{assignment.get_shipping_address}}
{% endif %}