<div class="row">
	<div class="{% if fullwidth %}{% elif mediumwidth %}col-6{%else%}col-3{% endif %} col">
		<form class="form" method="{% if method %}{{method}}{% else %}POST{% endif %}" action="{{action}}">
			{% if method != 'GET' %}
				{% csrf_token %}
			{% endif %}
			<table class="table">
				{{form.as_table}}
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-primary" value="{% if submit_text %}{{submit_text}}{%else%}submit{%endif%}" /></td>
			</table>
		</form>
	</div>
</div>

{% block extra_js %}
<script>
	$(document).ready(function(){
		$(function() {
			$( ".datepicker" ).datepicker({
				changeMonth: true,
				changeYear: true,
				dateFormat: 'yy-mm-dd',
			});
		});
	});
 </script>
 {% endblock %}